body {
  
  
  background-color: #131313;



  
}


.logo
{
	padding-top: 10%;
	padding-right: 3px;
	padding-left: 25%;
	padding-bottom: 20%;
}



p {
	color: white;
	font-family: Vogue Regular;
	
	font-size: 38px;
	float:left;
	
	
	
}

p1
{
	
	
	color: white;
	font-family: Kiona Regular;
	font-size: 22px;
	
	
}
	

.FirstShowcase
{
	
	//width: 35%;
	//height:auto;
	//text-align:center;
	
	padding-left: 5%;
	padding-right: 5%;
	float:left;
}

.spriteShowcase
{
	
	
	padding-top: 20%;
	text-align: right;
	padding-right: 5%;
	padding-left: 5%;
}


.canvastext
{
	text-align:left;
	
	padding-left: 5%;
	
	
}



.contactbut
{
	
  position:fixed;
  border-color: #131313;
  background-color: #131313;
  border: none;
  color: white;
  right: 1%;
  top: 2.5%;
  font-family: Kiona Regular;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
  
  
}

.contactbut:hover
{
	
  color: #818181;
  border-color: #131313;
	
	
}
.buttontop
{
  position: fixed;
  background-color: #131313;
  border: none;
  color: white;
  text-align: center;
  font-size: 36px;
  cursor: pointer;

}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  font-family: Kiona Regular;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.35s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  border-color: #131313
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






























.

//COLOUR SCHEME:
// 17252A IS BG CLOUR, DARK grey
// 2B7A78 DARK TURQOISE
// 3AAFA9 LIGHTER TURQOISE
// DEF2F1 LIGHT GREY
// FEFFFF LIGHT LIGHT WHITE